@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "../Shared/_RegisterLayout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<p>Your data is not shared with anyone but Learn for user authentication.</p>
