/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}

@media (max-width: 640px) {
    .tipCol {
        display: none;
    }
        .tipCol.visible {
            display: block;
            border-right: none;
        }
    .show-Tips {
        display: block !important;
    }
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html,
body,
.view {
  height: 100%;
}

header {
  height: 10%;
}
@media (max-width: 740px) {
  html,
  body,
  .view {
    height: 1000px;
  }
  header {
    height: 10%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  .view {
    height: 650px;
  }
  header {
    height: 10%;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
    opacity: 0.7 !important;
  }
}
.show-Tips {
    display: none;
}
.hide-Tips {
    display: none;
}
.tipCol {
  border-right: 1px solid lightgray;
  margin-bottom: 45px;
  /* position: fixed; */
}
.tips {
  position: sticky;
  top: 5rem;
}
.quiz-border {
  position: fixed;
  border-bottom: 1px solid lightgray;
}
.quizInput {
  position: absolute !important;
  bottom: 3px;
  margin: 12px 60px 12px 60px;
}
.labelbr {
  position: absolute;
  bottom: 12px;
  right: 12px;
  font-size: 18px;
}
.labeltr {
  position: absolute;
  top: 9px;
  left: 12px;
  font-size: 12px;
}
.pos-times {
  position: absolute;
  top: 5px;
  left: 9px;
  font-size: 36px;
}
.pos-times:hover {
  color: lightgray;
}
.fa-arrow-down:hover {
  color: lightgray;
}
.pos-redo {
  position: absolute;
  bottom: 33px;
  left: 100px;
  font-size: 39px;
}
.fa-redo:hover {
  color: lightgray;
}
.navback {
  background-color: #1c2331 !important;
}
.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}
.box-shadow {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.05);
}
button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.bg-blue {
  background-color: #3f50b5 !important;
}
a.bg-blue:hover,
a.gray:focus,
button.bg-gray:hover,
button.bg-gray:focus {
  background-color: #3f50b5 !important;
}
.navbar.fixed-top.scrolled {
  opacity: 0.9;
  transition: background-color 200ms linear;
}
img {
  width: 100%;
}
.indigo {
  background: #3f51b5;
}
.mdbSecondary {
  background: #dd4b39;
}
.facebook {
  background: #3b5998;
}
.twitter {
  background: #00aced;
}
.googleplus {
  background: #dd4b39;
}
.reddit {
  background: #ff4301;
}
.spotify {
  background: #1db954;
}
.camera {
  background: black;
}
.sync {
  background: darkslategray;
}
.amazon {
  background: #ff9900;
}
.xray {
  background: black;
}
.nurse {
  background: #cb3420;
}
.syringe {
  background: #921403;
}
.heartbeat {
  background: purple;
}
.itunes {
  background: #ea4cc0;
}
.wifi {
  background: navy;
}
.apple {
  background: #aaa9ad;
  color: black !important;
}
.paypal {
  background: #3b7bbf;
}
.cardContainer {
  width: 240px;
  height: 240px;
  position: relative;
  -webkit-perspective: 500px;
  -moz-perspective: 500px;
  -o-perspective: 500px;
  perspective: 500px;
  margin: 25px;
}
.flashCard {
  width: 240px;
  height: 240px;
  position: relative;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 0.5s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6);
  /* -webkit-transform-origin: 50% 50%; */
}
.flashCard div {
  display: block;
  height: 240px;
  width: 240px;
  /* line-height: 260px; */
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.quizCard {
  width: 240px;
  height: 240px;
  position: relative;
  border-radius: 12px;
  -webkit-transition: -webkit-transform 1s;
  -moz-transition: -moz-transform 1s;
  -o-transition: -o-transform 1s;
  transition: transform 0.5s ease;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6);
  /* -webkit-transform-origin: 50% 50%; */
}
.quizCard div {
  display: block;
  height: 240px;
  width: 240px;
  /* line-height: 260px; */
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.quizCard .front {
  font-family: Open_Sans;
  border-radius: 12px;
  background: #3f51b5;
  display: flex;
  font-size: 51px;
  justify-content: center;
  align-items: center;
}
.quizCard .back {
  font-family: Open_Sans;
  border-radius: 12px;
  background: #aa66cc;
  justify-content: center;
  align-items: center;
  font-size: 51px;
  display: flex;
  /* background: blue; */
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
@font-face {
  font-family: Open_Sans;
  src: url('../font/Open_Sans/OpenSans-SemiBold.ttf');
}
label.error {
  /* display: block; change the display to block */
  font-size: 16px !important;
  color: red !important;
  transition: 1s ease-in;
  /* padding: 3px; */
  margin-left: 9rem !important;
}
.fa-refresh {
  color: white;
  position: relative;
}
.flashCard .front {
  font-family: Open_Sans;
  border-radius: 12px;
  background: #3f51b5;
  display: flex;
  font-size: 51px;
  justify-content: center;
  align-items: center;
}
.flashCard .back {
  font-family: Open_Sans;
  border-radius: 12px;
  background: #aa66cc;
  justify-content: center;
  align-items: center;
  font-size: 51px;
  display: flex;
  /* background: blue; */
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}
.flashCard.flipped {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.fraction,
.top,
.bottom {
  padding: 0 1px;
}
.fraction {
  display: inline-block;
  text-align: center;
  font-size: 27px;
  margin-left: 10px;
}
.bottom {
  border-top: 1px solid white;
  display: block;
}
.fractionAdd,
.top,
.bottom {
  padding: 0 1px;
}
.fractionAdd {
  display: inline-block;
  text-align: center;
  font-size: 39px;
  margin: 0px 10px 0px 10px;
}
.fractionAnswer,
.topAnswer,
.bottomAnswer {
  padding: 0 1px;
}
.fractionAnswer {
  display: inline-block;
  text-align: center;
  font-size: 21px;
  margin: 0px 5px 0px 5px;
}
.bottomAnswer {
  border-top: 1px solid white;
  display: block;
}
.cubeText {
  position: absolute;
  top: 1.5rem;
  text-align: center;
  font-size: 21px;
  margin: 6px 12px 6px 12px;
}
.iconStyle {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  top: 6rem;
  text-align: center;
  margin: 6px;
}
.redoStyle {
  font-size: 24px;
  display: inline-block;
  position: absolute;
  top: 10rem;
  text-align: center;
  margin: 6px;
}
.wholeStyle {
  font-size: 45px;
}
.wholeStyleQuiz {
  font-size: 24px;
  display: inline-block;
}
/* Cube styles */
.scene {
  width: 240px;
  height: 240px;
  /* border: 1px solid #ccc; */
  margin: 25px;
  perspective: 500px;
  /* box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.6); */
}
.hide0 {
  display: none;
}
.hide1 {
  display: none;
}
.hide2 {
  display: none;
}
.hide3 {
  display: none;
}
.hide4 {
  display: none;
}
.hide5 {
  display: none;
}
.hide6 {
  display: none;
}
.hide7 {
  display: none;
}
.hide8 {
  display: none;
}
.hide9 {
  display: none;
}
.hide10 {
  display: none;
}
.hide11 {
  display: none;
}
.cube {
  width: 240px;
  height: 240px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(-120px);
  transition: transform 1s;
}
.cube__face {
  font-family: Open_Sans;
  position: absolute;
  width: 240px;
  height: 240px;
  font-size: 39px;
  font-weight: bold;
  color: white;
  /* text-align: center; */
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.6);
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  -webkit-appearance: none;
  -webkit-backface-visibility: hidden;
  /* align-items: center; */
}
.cube__face--front {
  background: #4285f4;
}
.cube__face--right {
  background: #aa66cc;
}
.cube__face--back {
  background: #ff8800;
}
.cube__face--left {
  background: #00695c;
}
.cube__face--top {
  background: #1c2431;
}
.cube__face--bottom {
  background: #2bbbad;
}
.operands {
  font-size: 18px;
  margin: 18px 12px 0px 12px;
}
/*
.left-text-pos-title {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 6%;
  text-align: center;
}
.left-text-pos-question-left-side {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 21%;
  left: 21%;
}
.left-text-pos-question-operand {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 27%;
  left: 36%;
}
.left-text-pos-equal-row1 {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 27%;
  left: 60%;
}
.left-text-pos-equal-row2 {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 57%;
  left: 60%;
}
.left-text-pos-equal-row3 {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 87%;
  left: 60%;
}
.left-text-pos-question-right-side {
  font-size: 18px;
  position: absolute;
  display: inline-block;
  top: 21%;
  text-align: center;
}
.left-text-pos-unsimplified {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  top: 21%;
  left: 72%;
}
.left-text-pos-unsimplified-left-side {
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  top: 51%;
  text-align: center;
}

.left-text-pos-simplified-answer {
  font-size: 24px;
  font-weight: bold;
  position: absolute;
  display: inline-block;
  top: 55%;
  left: 78%;
} */

.whole-answer {
  font-size: 30px;
  margin-top: 6px;
}
.cube__face--front {
  transform: rotateY(0deg) translateZ(120px);
}
.cube__face--right {
  transform: rotateY(90deg) translateZ(120px);
}
.cube__face--back {
  transform: rotateY(180deg) translateZ(120px);
}
.cube__face--left {
  transform: rotateY(-90deg) translateZ(120px);
}
.cube__face--top {
  transform: rotateX(90deg) translateZ(120px);
}
.cube__face--bottom {
  transform: rotateX(-90deg) translateZ(120px);
}

.cube.show-front {
  transform: translateZ(-120px) rotateY(0deg);
}
.cube.show-right {
  transform: translateZ(-120px) rotateY(-90deg);
}
.cube.show-back {
  transform: translateZ(-120px) rotateY(-180deg);
}
.cube.show-left {
  transform: translateZ(-120px) rotateY(90deg);
}
.cube.show-top {
  transform: translateZ(-120px) rotateX(-90deg);
}
.cube.show-bottom {
  transform: translateZ(-120px) rotateX(90deg);
}

.btn-floating {
  position: relative;
  z-index: 1;
  display: inline-block;
  padding: 0;
  margin: 10px;
  overflow: hidden;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 15px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  width: 47px;
  height: 47px;
}

.btn-floating i {
  display: inline-block;
  width: inherit;
  color: #fff;
  text-align: center;
}

.navButton-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-top: 72px;
}

.link-to {
    cursor: pointer;
    font-size: 24px;
}

/*a {
    &::after

{
    content: " pseudo element";
    opacity: 0;
}

&:hover {
    &::after

{
    opacity: 1;
}

}*/
/*    .navButton-wrapper a {
        display: flex;
        color: inherit;
    }

.my-nav-button {
    background-color: #aa66cc;
    border-radius: 3px;
    color: white;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
    height: 57px;
    width: 130px;
    display: flex;
}
    .my-nav-button div {
        margin: auto;
        font-family: Roboto, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 15.04px;
    }
*/

/*    .my-nav-button:active {
        background-color: #921ecc;
    }*/

/*.btn-box-shadow {
    box-shadow: 0 30px 30px rgba(0, 0, 0, 0.6);
}*/

/*.btn-box-shadow:hover {
    background-color: #921ecc !important;
}*/
